---
import SEO from '@/components/seo.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, description, image, frontmatter, robots } = Astro.props;
---

<!-- Generate favicons from somewhere like https://favicon.io/ or https://realfavicongenerator.net/ --><!-- Copy files into the public folder -->
<head>
  <meta charset='UTF-8' />
  <title>{title}</title>
  <meta name='description' content={description} />
  <SEO {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
  <meta name='viewport' content='width=device-width' />
  <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
  <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
  <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
  <link rel='manifest' href='/site.webmanifest' />
  <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#697073' />
  <meta name='msapplication-TileColor' content='#2b5797' />
  <meta name='theme-color' content='#333333' />
  <meta name='generator' content={Astro.generator} />

  <link rel='sitemap' href='/sitemap-index.xml' />

  <ViewTransitions />
</head>
